/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 мар. 2020 г., 17:52:14
    Author     : denis
*/


/*svg:hover{
    fill: white;
}*/

table {
    table-layout: fixed;
    width: 100%;
}

table tr td {
    word-break: break-all;
}

.bt-grey-silver {
  background-color: #C0C0C0;
}

.bt-grey-silver-hover:hover {
  background-color: #C0C0C0;
   color: white;
}

.bt-light-white {
  background-color: white;
}

button:not(#but_favorite):hover{
    background-color: #C0C0C0;
    color: white;
}

.bt-light-green:hover {
  background-color: #04d041;
  color: white;
}


.bt-red:hover {
  background-color: red;
  color: white;
}

.bt-light-yellow {
  background-color: #fcf100;
}



.bt-light-blue:hover {
  background-color: #00a6f2;
  color: white;
}

.bt-light-red {
  background-color: #fc7e1f;
}
